a {
  color:black;
}
a:hover{
  color:rgb(37, 138, 105);
}
/* goback */
#buttonImage {
  position:absolute;
  top: 1.2em;
  right:1.2em;
  width: 50px;
  height: 50px; 
  z-index: 3;
}

a:hover img {
  content: url('goback2.png'); 
}
/* navigation */
.right {
  right:1em;
}
.left {
  left: 1em;
}
.left,.right {
  border: 5px solid black;
  color: rgb(0, 0, 0);
  font-family: 'DotGothic16', sans-serif;
  position: fixed;
  z-index: 3; 
  font-size: 5vw; /* Responsive font size */
  background: white;
  outline: inherit;
  position: fixed;
  padding-left: 2vw;
  padding-bottom: 1.8vw;
  padding-right: 2vw; 
  opacity: 80%;
}

.left:hover,.right:hover {
  color:rgb(0, 242, 161);
  border: solid 5px rgb(0, 242, 161);
  cursor: pointer;
}

.playbutton {
  position: absolute;
  z-index: 2;
  width: 220px;

  margin-top: 17em;

}
.playbutton:hover {
  cursor:pointer;
}


/* popup with java */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 12; 
  }
  
  .popup-content {
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    z-index: 11; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    max-width: 80%;
    text-align: center;
    font-family: 'DotGothic16';
  }

  .popup-content img{
    width: 240px;
    /* display: block; */
    height: auto;
  }
  
  /* Style close buttons for each popup */
  .close {
    font-size: 2vw;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    z-index: 12; /* Increased z-index for close buttons */
  }

.p1 button, .p2 button, .p3 button, .p4 button,.p5 button, .p6 button {
    cursor: pointer;
    border: none;
    background: none;
  }
  .p1 img,
  .p2 img,
  .p3 img,
  .p4 img {
    object-fit:contain; 
  }
  .p1 img {
    width: 240px;
  }
  .p2 img {
    width: 110px;
  }
  
  .p3 img {
    width: 180px;
  }
  .p4 img {
    width: 140px;
  }
  .p5 img {
    width: 150px;
  }
  .p6 img {
    width: 80px;
  }

.popup-content img {
  max-width: 200px;
}

.popup-content .popup-image {
  width: 240px;
}
  
/* grid */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0; 
  
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  z-index: 2;
  width: 800px;
  height: 400px;
  margin-top: -25em;
  margin-left: 15em;

  }
  
  .p1 { 
    grid-area: 3 / 1 / 11 / 4; 
    
  }
  .p2 { 
    grid-area: 1 / 6 / 4 / 6; 

    
  }
  .p3 { 
    grid-area: 6 / 5 / 11 / 9; 
    justify-self: center;
  }
  .p4 { 
    grid-area: 2 / 8 / 4 / 11; 
    
  }
  .p5 { 
    grid-area: 6 / 9 / 11 / 12; 
  
  }
  .p6 { 
    grid-area: 2 / 11 / 5 / 13; 
    justify-self: start;
    align-self: end;
  }
  @media screen and (max-width: 900px) {

    .left, .right {
      font-size: 4vw;
      border: 3px solid black;
  
    }
    .playbutton {
      position:absolute;
      transform:scale(0.4);
      bottom:45vw;
    }
    .container {
      transform:scale(0.6);
      position:absolute;
      margin-top: -20em;
      margin-left: 8em;
      
    }
    .popup-content{
      width: 100%;
      margin-top: 15em;
      margin-left: -8em;
    
    }
  
  }
  
  @media screen and (max-width: 480px) {
  
    .left, .right {
      border: 3px solid black;
      font-size: 2vw;
    }
    .playbutton {
      position:absolute;
      transform:scale(0.3);
      bottom:50vw;
    }
    .container {
      transform:scale(0.4);
    }
  
  
  }

    /* alternative text */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
