h1 {
    font-weight: 100;
    text-align: center;
    font-family: 'myFirstFont';
    font-size: 240px;
    padding-top: 40px;
    color:rgb(243, 114, 23);
    line-height: 80%;
}


.explore{
    font-size: 80px;
    text-decoration-line: none;
    color:rgb(243, 114, 23);
}

.explore::before {
    content: ''; 
    position: absolute;
 
    transition: opacity 0.3s ease; 
}

.explore:hover::before {
    text-decoration-line: underline;
    color:seagreen;
    text-align: center;
    content: 'Explore \u9756';
}



.credits{
    font-family:'DotGothic16', sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    color:darkgreen;
}

.insta {
    color:black;
}
.insta:hover{
    color:rgb(37, 138, 105);
}


@media  screen and (max-width:480px){
    h1 {
        font-size: 120px;
    }
    h2 {
        font-size: 50px;
        margin-left: .2em;
    }
    h3 {
        font-size: 60px;
    }
}