/* title */
h1 {
    font-weight: 100;
    text-align: center;
    font-family: "VT323", monospace;
    font-size: 240px;
    padding-top: 9rem;
    color:rgb(243, 114, 23);
    line-height: 80%;
    animation: fadeIn 5s; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


/* start button */
.explore{
    font-size: 80px;
    text-decoration-line: none;
    color:rgb(243, 114, 23);
}

.explore:hover {
    color:seagreen;
    text-decoration-line: underline;
}


/* footer */
.credits{
    font-family:'DotGothic16', sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: -8em;
    width: 100%;
    color:seagreen;
}

.insta {
    color:seagreen;
}
.insta:hover{
    color:rgb(37, 138, 105);
}


@media  screen and (max-width:900px){
    h1 {
        font-size: 140px;
    }
    .explore{
        font-size: 60px;
    }
}
@media  screen and (max-width:700px){
    h1 {
        font-size: 120px;
    }
    .explore{
        font-size: 50px;
    }
    .credits {
        bottom: 0;
    }
}

@media  screen and (max-width:480px){
    h1 {
        font-size: 80px;
    }
    .explore{
        font-size: 40px;
    }
    .credits {
        bottom: 0;
    }
}
/* alternative text */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  
