.light {
    position: absolute;
    z-index: 2;
    height: 100%;
}

.p1,.p2,.p3,.p4 {
    position: absolute;
    z-index: 1;
    height: 100%;
    margin-left: 8.5em;
}

/* p1 content ratio */
.poster {
    width: 30%;
    float: left;
    
}
.pp1 {
    width: 200px;
}
.caption {
    width: 60%;
    height:150px;
    float: right;
    font-family: 'DotGothic16';
    text-align: left;
    font-size: 30px;

}
p{
    margin-top: -1em;
}

/* p1 button */
button {
    text-align: right;
    position:absolute;
    z-index: 5;
    background-color: blue;
    opacity:50%;
    width: 310px;
    height: 390px;
    margin-left: 59em;
    margin-top: 6em;
}

/* p1 POP UP */
.popup-button {
    cursor: pointer;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    opacity: 0;
}
.popup-button:hover {
    cursor:pointer;
    opacity: 20%;
    color:transparent;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    opacity: 80%;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    max-width: 80%;

}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.popup-button:focus + .popup {
    display: block;
}





.right {
    margin-left: 7.6em;
}
.left {
    margin-left: -1.3em;
}
.left,.right {
    color: white;
    font-family: 'DotGothic16', sans-serif;
    position: fixed;
    z-index: 3;
    font-size: 150px;
    opacity: 70%;
    margin-top: 1.5em;
    background: none;
	border: none;
	padding: 0;
	outline: inherit;

}
.left:hover,.right:hover {
    color:rgb(0, 242, 161);
    opacity: 90%;
    cursor: pointer;
}
/* popup */
