/* styles.css */
img {
    height: 100%;
}
.popup-toggle {
    display: none;
}

.button {
    cursor: pointer;
    height: 5%;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    text-align: center;
    z-index: 2;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

/* Show the popup when the checkbox is checked */
.popup-toggle:checked + .popup-overlay,
.popup-toggle:checked + .popup-overlay + .popup {
    display: block;
}
