/* navigation */
h1 {
  font-family: 'dotgothic16';
  z-index: 3;
  position: fixed;
  top: 1em;
  right: 2em;
  border: 2px solid black;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 7px;
  background-color: white;
  opacity: 70%;
  
  }
h1:hover {
  cursor:pointer;
  color:rgb(37, 138, 105);
  border: 2px solid rgb(37, 138, 105);
  
}
/* posters */

.p1,.p2,.p3,.p4,.p5,.p6 {
  position: absolute;
  margin-left: 8.5em;


}

/* popup with java */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10; /* Increased z-index for popups */
  }
  
  .popup-content {
    z-index: 11; /* Increased z-index for popup content */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    text-align: center;
    font-family: 'DotGothic16';
  }
  
  /* Style close buttons for each popup */
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    z-index: 12; /* Increased z-index for close buttons */
  }
  
  /* Image style */
  .p1 img,
  .p2 img,
  .p3 img,
  .p4 img {
    cursor: pointer;
    position: absolute;
    height: auto;
  }
  
  .p1 img {
    width: 250px;   
    margin-top: 6em;
    margin-left: 22em;
  }
  
  .p2 img {
    width: 120px;
    margin-left: 45em;
    margin-top: 2em;
  }
  
  .p3 img {
      width: 180px;
      margin-left: 48em;
      margin-top: 18em;
  }
  
  .p4 img {
      width: 180px;
      margin-left: 60em;
      margin-top: 4em;
  }
  
.p5 img {
    width: 160px;
    margin-left: 70em;
    margin-top: 18em;
}
.p6 img {
    width: 100px;
    margin-left: 80em;
    margin-top: 7em;
}

.p1 button, .p2 button, .p3 button, .p4 button,.p5 button, .p6 button {
    position: absolute;
    cursor: pointer;
    border: none;
    background: none;
  }