h1 {
    font-size: 250px;
    margin-top: 40px;

}

h2 {
    font-size: 80px;
    margin-top: 3.5em;
    margin-bottom: -5em;
    margin-left: -5em;
}

h3 {
    font-size: 90px;
    margin-top: -1em;
    
}

h3:hover {
    color:rgb(37, 138, 105);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    cursor: pointer;
}
h1,h2,h3 {
    text-align: center;
    font-weight: 100;
    color:rgb(4, 4, 48);
}

.background-image {
    width: 100%;
}



@media screen {
    
}